html{
    height: 100%;
}

body {
    background: linear-gradient(to top left, #FFFFE0, #D8BFD8) fixed;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}

main {
    flex: 1 0 auto;
}

.main {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    margin: 5% 0 5% 30%;
}

.main__img {
    width: calc(250 / 1440 * 100vw);
    height: calc(350 / 1440 * 100vw);
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    margin-top: 1%;
}

.main__img-img {
    display: block;
    width: 100%;
    height: calc(350 / 1440 * 100vw);
}

.main__info {
    width: calc(650 / 1440 * 100vw);
    height: calc(500 / 1440 * 100vw);
    font-family: Comic Sans MS, Comic Sans;
    color:#3c346e;
}

.main__info-me {
    width: calc(300 / 1440 * 100vw);
    height: calc(100 / 1440 * 100vw);
    margin-bottom: 10%;
}

h1 {
    font-size: calc(24 / 1440 * 100vw);
}

p {
    font-size: calc(18 / 1440 * 100vw);
}

h2 {
    font-size: calc(18 / 1440 * 100vw);
}

.main__skills {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.main__skills img {
    width: calc(40 / 1440 * 100vw);
    height: calc(40 / 1440 * 100vw);
}

a {
    text-decoration: none;
    color:#544b94;
    font-family: Comic Sans MS, Comic Sans;
    font-size: calc(18 / 1440 * 100vw);
}

.main__link {
    margin-top: 2%;
}

.footer {
    display: flex;
    width: 100%;
    flex: 0 0 auto;
    background: #000000;
    height: calc(80 / 1440 * 100vw);
}

.footer__mail {
    margin-left: 30%;
    margin-top: 2%;
    font-size: calc(18 / 1440 * 100vw);
}

.footer__phone {
    margin-left: 5%;
    margin-top: 2%;
    font-size: calc(18 / 1440 * 100vw);
}

@media screen and (max-width:768px) {
    .main__img {
        width: calc(250 / 768 * 100vw);
        height: calc(350 / 768 * 100vw);
    }
    
    .main__img-img {
        height: calc(350 / 768 * 100vw);
    }
    
    .main__info {
        width: calc(650 / 768 * 100vw);
        height: calc(500 / 768 * 100vw);
    }
    
    .main__info-me {
        width: calc(300 / 768 * 100vw);
        height: calc(100 / 768 * 100vw);
    }
    
    h1 {
        font-size: calc(24 / 768 * 100vw);
    }
    
    p {
        font-size: calc(18 / 768 * 100vw);
    }
    
    h2 {
        font-size: calc(18 / 768 * 100vw);
    }
    
    .main__skills img {
        width: calc(40 / 768 * 100vw);
        height: calc(40 / 768 * 100vw);
    }
    
    a {
        font-size: calc(18 / 768 * 100vw);
    }
    
    .footer {
        height: calc(80 / 768 * 100vw);
    }
    
    .footer__mail {
        margin-left: 20%;
        margin-top: 3%;
        font-size: calc(18 / 768 * 100vw);
    }
    
    .footer__phone {
        margin-top: 3%;
        font-size: calc(18 / 768 * 100vw);
    }
}